.contact__list
{
    margin-top: 50px;
    padding: 20px;
    display: block;
    list-style-type: none;
}
.contact__item
{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    border: 2px solid magenta;
}
.contact__label
{
    margin: 10px;
    color: lightcoral;
}
.contact__button_close
{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid brown;
    background-color: brown;
    color: white;
}
@media screen and (max-width: 720px)
{
    .contact__item
    {
        padding: 18px 38px;
    }
    .contact__label
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 620px)
{
    .contact__item
    {
        padding: 14px 30px;
    }
    .contact__label
    {
        font-size: 14px;
    }
}