.filter__form
{
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 70, 70);
    /* background-color: bisque; */
}
.filter__input
{
    margin-left: 18px;
    padding-left: 10px;
    width: 300px;
    height: 30px;
    border: 3px solid lightsalmon;
    background-color: lightcyan;
}
@media screen and (max-width: 720px)
{
    .filter__input
    {
        width: 280px;
        height: 28px;
    }
}
@media screen and (max-width: 620px)
{
    .filter__input
    {
        width: 250px;
        height: 25px;
    }
}